body {
  margin: 0;
  color: #ffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Assets/road.jpg") no-repeat fixed bottom;
}

code {
  font-family: "source-code-pro, Menlo, Monaco, Consolas, Courier-New",
    monospace;
}
.header {
  background-color: #000000;
  color: rgba(255, 0, 0, 0.226);
  width: 100%;
  text-align: center;
  height: 70px;
  padding: 8px;
}

.header-title {
  font-size: 35px;
}
a:hover {
  text-decoration: none;
}
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
h4 {
  font-size: 35px;
}
.navbar {
  font-size: 18px;
  font: bold "Marko One", Georgia, serif;
}
.layout {
  position: relative;
  height: auto;
  font-size: 17px;
}
.select {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 26px;
}

.home-h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 5 2 4 3;
}

.home-h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: left;
}

.home-p {
  color: #685206;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
}
img {
  opacity: 0.5;
}
.homer {
  font-size-adjust: 80px;
}
.red {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
}
.borders {
  border: 2px solid;
  border-radius: 5px;
}
.button {
  disable: false;
}
.jumbotron-fluid {
  padding-top: 1.5em;
  padding-bottom: 1.4em;
}
.jumbotron {
  padding: 2rem 2rem;
  background-color: rgba(129, 21, 21, 0.397);
}
App {
  text-align: center;
  height: 5000px;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
